@model ReportManagement.Models.Action

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Action</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Report.ReportName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Report.ReportName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ActionID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
